* {
    scroll-behavior: smooth;
}

.background-image {
    background-image: url("./WEBSITE-BANNER.png");
    width: 89%;
    height: 48vw;
    margin-top: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-image>#sticker1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 24vw;
    left: 33vw;

}

.background-image>#sticker2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23.5vw;
    left: 22vw;
}

.background-image>#sticker3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 29.5vw;
    left: 44vw;
}

.background-image>#sticker4 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 27.6vw;
    left: 58vw;
}

.background-image>#sticker5 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16.5vw;
    left: 57vw;
}

.background-image>#sticker6 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17.5vw;
    left: 62.5vw;
}

div>#cards {
    display: flex;
    margin: 0 auto;
    margin-top: -15px;
    width: 50%;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
}

.card-body {
    background-color: antiquewhite;


}


.card-body>.card-title {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.card-body>.card-subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    text-align: center;
}

.card-body>.card-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}



@media screen and (max-width: 370px) {
    .background-image {
        height: 60vw;

    }

    /* .background-image>#sticker1 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 27vw;
        left: 35vw;


    }

    .background-image>#sticker2 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 27vw;
        left: 22vw;


    }

    .background-image>#sticker3 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 35vw;
        left: 47.5vw;


    }

    .background-image>#sticker4 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 33vw;
        left: 64vw;


    }

    .background-image>#sticker5 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 21vw;
        left: 61vw;


    }

    .background-image>#sticker6 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 21vw;
        left: 69vw;

    } */


    #cards {
        width: 40%;
    }

    /* .card-body {
        width: 70%;
    } */

    .card-body>.card-title {
        font-size: 30px;
    }

    .card-text {
        font-size: 135px;
    }
}